@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .buttons button {
    font-weight: 600;
    font-size: 1.5rem;
    height: 6rem;
  }

  .project img {
    width: 200px;
  }

  .about {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .about img {
    margin: 0 auto 20px;
    width: 250px;
  }

  .about .details {
    text-align: left;
    padding: 0 10px;
  }

  .contact-links {
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  .contact-link {
    padding: 0 2rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  .footer-links {
    display: none;
  }

  .footer {
    gap: 50px;
    justify-content: space-around;
  }

  .footer-logo img {
    height: 70px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  p {
    font-size: 1.5rem;
  }

  .description h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  .description p {
    font-size: 1.5rem;
  }

  .description {
    width: 80%;
  }

  .project-info h3 {
    font-size: 3rem;
    font-weight: 500;
  }

  .project-info p {
    font-size: 1.5rem;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  .project img {
    width: 100%;
  }

  .grid-item {
    width: 50%;
  }

  .footer {
    justify-content: space-between;
    padding: 0.5rem 40px;
  }

  .footer-logo img {
    height: 90px;
  }

  .logo {
    width: 40rem;
  }

  nav {
    height: 25rem;
  }

  .contact-section {
    max-width: 100%;
  }
}
